{% load static %}
<header>
    <nav>
        <a href="/"><div class="logo">
            <img src = '{% static "img/base/logo.png" %}' height='80px' width='auto' alt="logo"/>
            <p>MineCloud</p>
        </div></a>
        {% if user.is_authenticated %}
        <div class="menu-auth">
            <a href="#">About us</a>
            <a href="#">Plans</a>
            <a href="#">Features</a>
            <a href="/create_server">Create server</a>
        </div>
        {% else%}
        <div class="menu">
            <a href="#">About us</a>
            <a href="#">Plans</a>
            <a href="#">Features</a>
            <a href="/create_server">Create server</a>
        </div>
        {% endif %}
        {% if user.is_authenticated %}
        <div class="profile poppins">
            <a href="{% url 'servers' %}"><div class="servers">
                <img src='{% static "img/base/server.svg"%}'>
                <p>Your servers</p>
            </div></a>
            <a href="{% url 'profile' %}"><div class="settings">
                <img src='{% static "img/base/user_settings.svg"%}'>
                <p>Settings</p>
            </div></a>
            <div class="user">
                <div style="margin-right: 5px; margin-top: 2px;">
                    <p>Username</p>
                    <a style='display: flex; justify-content: end;margin-right: 0px;'href="/logout">
                        <img style='margin-top: -7px;' src='{% static "img/base/logout.svg"%}'>
                        <p class="logout">Logout</p>
                    </a>
                </div>
                <div>
                <img height="50px" width="50px" src='{% static "img/base/user_logo.svg" %}'>
                </div>
            </div>
        </div>
        {% else %}
        <div class="auth">
            <a href="/login">Sign in</a>
            <a href="/registration">Sign up</a>
        </div>
        {% endif %}
    </nav>
</header>