{% extends 'base/base.html' %}

{% load static %}
{% load bootstrap5 %}

<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />


{% block content %}
<div class="container text-center">
      <h1>Log in</h1>
      <form action="" method="post">
            <div class="container">
                  <label><b>Your email</b></label>
                  <input type="text" placeholder="Enter Your email" name="email" required>
                  <label><b>Password</b></label>
                  <input type="password" placeholder="Enter Password" name="psw" required>
                  <button type="submit">Login</button>
                  <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                  </label>
                  <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
      </form>
</div>

{% endblock %}
