<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MineCloud</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/index.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lilita One' rel='stylesheet'>
</head>
<body>
    <div class="background-parallax" style="background-image: url('/static/img/landing/background_sky.png');">
        <nav class="navbar navbar-expand-lg fixed-top" id ="header">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
                 <img src="/static/img/landing/logotypor.png" width="100" height="80.33" class="logo" alt=""> <span class="title text-white lilita-one">MineCloud</span>
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link text-white poppins" href="#about-us">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white poppins" href="#plans">Plans</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white poppins" href="#features">Features</a>
                </li>
                  <li class="nav-item">
                  <a class="nav-link text-white poppins" href="#">Create server</a>
                </li>
              </ul>
            </div>
              <div class ="authorization">
                  <a class="nav-link text-white poppins" href="#">SIGN IN</a>
                  <a class="nav-link text-white poppins" href="#">LOG IN</a>
              </div>
          </div>
        </nav>
        <div class="wrapper container">
            <div style="margin-top:250px;">
                <div class="main justify-content-center">
                    <p class="main-text text-white lilita-one">Minecraft server</p>
                </div>
                <div class="main justify-content-center">
                    <p class="main-text text-white lilita-one" >It’s simple</p>
                </div>
                <btn type="button" class ="btn play-btn poppins text-white"> <img src="/static/img/landing/icons/play.svg" >Play</btn>
            </div>
        </div>
    </div>
    <div class="wrapper  bg-sec about-us">
        <div style="margin: 0 auto;">
            <h2 class="article-title text-white lilita-one" id="about-us">About Us</h2>
        </div>
        <div style="margin: 0 auto;">
            <div class="about-block">
                <div class="images-about">
                    <img src="/static/img/landing/icons/server.svg" width="180" height="160">
                </div>
                <div class="about">
                    <h3 class="poppins">Some title</h3>
                    <p class="poppins text-white" style="text-align:start;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut mi sed arcu malesuada tempus. Mauris sodales, eros facilisis venenatis.</p>
                </div>
            </div>
            <div class="about-block">
                <div class="about">
                    <h3 class="poppins" style="text-align:end;">Some title</h3>
                    <p class="poppins text-white " style="text-align:end;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut mi sed arcu malesuada tempus. Mauris sodales, eros facilisis venenatis.</p>
                </div>
                <div class="images-about">
                    <img src="/static/img/landing/icons/pc.svg" width="180" height="160">
                </div>
            </div>
            <div class="about-block">
                <div class="images-about">
                    <img src="/static/img/landing/icons/support.svg" width="180" height="160" >
                </div>
                <div class="about">
                    <h3 class="poppins">Some title</h3>
                    <p class="poppins text-white" style="text-align:start;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut mi sed arcu malesuada tempus. Mauris sodales, eros facilisis venenatis.</p>
                </div>
            </div>
            <div class="about-block">
                <div class="about">
                    <h3 class="poppins" style="text-align:end;">Some title</h3>
                    <p class="poppins text-white" style="text-align:end;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut mi sed arcu malesuada tempus. Mauris sodales, eros facilisis venenatis.</p>
                </div>
                <div class="images-about">
                    <img src="/static/img/landing/icons/money.svg" width="180" height="160">
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper bg-first">
        <h2 class="article-title text-white lilita-one" style="margin-left:50px;" id="plans">More than 30 000 clients  </h2>
        <p class="text-white poppins" style="font-size:20px; margin-left:50px;">successfully use our perfect servers</p>
        <div class="rates">
            <div class ="rate rate-1 text-white">
                <div style="margin:0 auto; text-align:center;">
                    <h4 class="lilita-one" style="margin-top:25px;">Free</h4>
                    <p class="poppins" style="width:186px; font-size:18px;">Yes, you can run your own minecraft server for free</p>
                    <p class="poppins" style="font-size:21px;">$0.00 /month</p>
                    <button type="button" class="btn btn-dark" style="width:140px; height:33px; margin:15px;">view plan</button>
                    <div class="description">
                        <div class="sub-des">
                            <img src="/static/img/landing/icons/person.svg" width="18" height="18">
                            <p>Unlimited Slots</p>
                        </div>
                        <div class="sub-des">
                            <img src="/static/img/landing/icons/cashed.svg" width="18" height="18">
                            <p>Every day backup</p>
                        </div>
                        <div class="sub-des">
                            <img src="/static/img/landing/icons/ram.svg" width="18" height="18">
                            <p>512MB RAM</p>
                        </div>
                        <div class="sub-des">
                            <img src="/static/img/landing/icons/terminal.svg" width="18" height="18">
                            <p>Real-time console</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class ="rate rate2 rate-2 text-white">
                <div style="margin:0 auto; text-align:center;">
                    <h4 class="lilita-one" style="margin-top:25px;">Budget</h4>
                    <p class="poppins" style="width:186px; font-size:18px;">Perfect for small community and play with friends</p>
                    <p class="poppins" style="font-size:21px;">$1.00 /month</p>
                    <button type="button" class="btn btn-dark" style="width:140px; height:33px; margin:15px;">view plan</button>
                    <div class="description">
                        <div class="sub-des">
                            <img src="/static/img/landing/icons/person.svg" width="18" height="18">
                            <p>Unlimited Slots</p>
                        </div>
                        <div class="sub-des">
                            <img src="/static/img/landing/icons/cashed.svg" width="18" height="18">
                            <p>Every day backup</p>
                        </div>
                        <div class="sub-des">
                            <img src="/static/img/landing/icons/ram.svg" width="18" height="18">
                            <p>2GB RAM</p>
                        </div>
                        <div class="sub-des">
                            <img src="/static/img/landing/icons/terminal.svg" width="18" height="18">
                            <p>Real-time console</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class ="rate rate3 rate-3 text-white">
                <div style="margin:0 auto; text-align:center;">
                    <h4 class="lilita-one" style="margin-top:25px;">Boost</h4>
                    <p class="poppins" style="width:186px; font-size:18px;" >Perfect for large servers, and public servers</p>
                    <p class="poppins" style="font-size:21px;">$3.00 /month</p>
                    <button type="button" class="btn btn-dark" style="width:140px; height:33px; margin:15px;">view plan</button>
                    <div class="description">
                        <div class="sub-des">
                            <img src="/static/img/landing/icons/person.svg" width="18" height="18">
                            <p>Unlimited Slots</p>
                        </div>
                        <div class="sub-des">
                            <img src="/static/img/landing/icons/cashed.svg" width="18" height="18">
                            <p>Every day backup</p>
                        </div>
                        <div class="sub-des">
                            <img src="/static/img/landing/icons/ram.svg" width="18" height="18">
                            <p>4GB RAM</p>
                        </div>
                        <div class="sub-des">
                            <img src="/static/img/landing/icons/terminal.svg" width="18" height="18">
                            <p>Real-time console</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper bg-sec">
        <div style="margin: 0 auto;">
            <h2 class="article-title text-white lilita-one" id="features">Features</h2>
        </div>
        <div style="margin: 0 auto;" class="features">
            <div class="feature-row">
                <div class="feature">
                    <img src="/static/img/landing/icons/settings.svg" width="180" height="180" style="margin: 0 auto;">
                    <h3 class="lilita-one">Fully Customizable</h3>
                    <p class="text-white poppins">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut mi sed arcu malesuada tempus. Mauris sodales, eros facilisis venenatis.</p>
                </div>
                <div class="feature">
                    <img src="/static/img/landing/icons/inclusive.svg" width="180" height="180" style="margin: 0 auto;">
                    <h3 class="lilita-one">Unlimited slots</h3>
                    <p class="text-white poppins">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut mi sed arcu malesuada tempus. Mauris sodales, eros facilisis venenatis.</p>
                </div>
                <div class="feature">
                    <img src="/static/img/landing/icons/terminal.svg" width="180" height="180" style="margin: 0 auto;">
                    <h3 class="lilita-one">Real-time console</h3>
                    <p class="text-white poppins">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut mi sed arcu malesuada tempus. Mauris sodales, eros facilisis venenatis.</p>
                </div>
            </div>
            <div class="feature-row">
                <div class="feature">
                    <img src="/static/img/landing/icons/database.svg" width="180" height="180" style="margin: 0 auto;">
                    <h3 class="lilita-one">Backups</h3>
                    <p class="text-white poppins">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut mi sed arcu malesuada tempus. Mauris sodales, eros facilisis venenatis.</p>
                </div>
                <div class="feature">
                    <img src="/static/img/landing/icons/world.svg" width="180" height="180" style="margin: 0 auto;">
                    <h3 class="lilita-one">Custom Worlds</h3>
                    <p class="text-white poppins">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut mi sed arcu malesuada tempus. Mauris sodales, eros facilisis venenatis.</p>
                </div>
                <div class="feature">
                    <img src="/static/img/landing/icons/help_center.svg" width="180" height="180" style="margin: 0 auto;">
                    <h3 class="lilita-one">24/7 support</h3>
                    <p class="text-white poppins">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut mi sed arcu malesuada tempus. Mauris sodales, eros facilisis venenatis.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="  crossorigin="anonymous"></script>
    <script>
        'use strict'
        let header = document.getElementById("header")
        $(window).on("scroll", function() {
          $(header).toggleClass("header-anim", $(this).scrollTop() > $(window).height()-800);
        });
        let rates = document.getElementsByClassName("rate")
        $(window).on("scroll", function() {
          $(rates).toggleClass("rate-anim", $(this).scrollTop() > $(window).height()+400);
        });
       $(rates).hover(
        function(){ $(this).addClass('rate-top-anim'); },
        function(){ $(this).removeClass('rate-top-anim'); }
       );
    </script>
</body>
</html>
