{% extends 'base/base.html' %}
{% load static %}

{% block extra_css%}
<link href='{% static "css/login.css" %}' rel="stylesheet">
{% endblock %}


{% block content%}
<div class="flex-container">
<div>
    <img class="pig" height="200" width="auto" src='{% static "img/auth/pig.svg" %}'>
    <img class="wheat" height="250" width="auto" src='{% static "img/auth/wheat.svg" %}'>
</div>
<div class="content">
    <div class="form">
        <form action="" method="post">
            <h3 class="poppins">Log In</h3>
            <div class="form-item">
                <img class="icon" src='{% static "img/auth/user_icon.svg" %}' >
                <input type="text" placeholder="Login">
            </div><br>
            <div class="form-item">
                <img class="icon" src='{% static "img/auth/key.svg" %}' >
                <input type="password" placeholder="Password">
            </div><br>
            <input type="submit" value="Log In"><br>
        </form>
    </div>
    </div>
</div>
{% endblock %}