<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lilita+One:wght@400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div>
      <link href="./login.css" rel="stylesheet" />

      <div class="login-container">
        <div class="login-login">
          <div class="login-group427320737">
            <div class="login-group427320718">
              <span class="login-text"><span>SIGN IN</span></span>
              <span class="login-text02"><span>LOG IN</span></span>
              <span class="login-text04"><span>Create server</span></span>
              <span class="login-text06"><span>Features</span></span>
              <span class="login-text08"><span>Plans</span></span>
              <span class="login-text10"><span>About us</span></span>
              <div class="login-group427320716">
                <img
                  src="public/playground_assets/rectangle1818348-oge.svg"
                  alt="Rectangle1818348"
                  class="login-rectangle181"
                />
                <img
                  src="public/playground_assets/rectangle1828348-8htk.svg"
                  alt="Rectangle1828348"
                  class="login-rectangle182"
                />
                <img
                  src="public/playground_assets/rectangle1838348-40pw.svg"
                  alt="Rectangle1838348"
                  class="login-rectangle183"
                />
                <img
                  src="public/playground_assets/rectangle1848348-pdj3c.svg"
                  alt="Rectangle1848348"
                  class="login-rectangle184"
                />
                <img
                  src="public/playground_assets/rectangle1858348-m8s.svg"
                  alt="Rectangle1858348"
                  class="login-rectangle185"
                />
                <img
                  src="public/playground_assets/rectangle1888348-795m.svg"
                  alt="Rectangle1888348"
                  class="login-rectangle188"
                />
                <img
                  src="public/playground_assets/rectangle1898348-1j2.svg"
                  alt="Rectangle1898348"
                  class="login-rectangle189"
                />
                <img
                  src="public/playground_assets/rectangle1878348-wn7k.svg"
                  alt="Rectangle1878348"
                  class="login-rectangle187"
                />
                <img
                  src="public/playground_assets/rectangle1868348-qxs4.svg"
                  alt="Rectangle1868348"
                  class="login-rectangle186"
                />
                <img
                  src="public/playground_assets/rectangle1908349-7q5.svg"
                  alt="Rectangle1908349"
                  class="login-rectangle190"
                />
                <img
                  src="public/playground_assets/rectangle1928349-x8e.svg"
                  alt="Rectangle1928349"
                  class="login-rectangle192"
                />
                <img
                  src="public/playground_assets/rectangle1938349-osvn.svg"
                  alt="Rectangle1938349"
                  class="login-rectangle193"
                />
                <img
                  src="public/playground_assets/rectangle1948349-frco.svg"
                  alt="Rectangle1948349"
                  class="login-rectangle194"
                />
                <img
                  src="public/playground_assets/rectangle1998349-7yfj.svg"
                  alt="Rectangle1998349"
                  class="login-rectangle199"
                />
                <img
                  src="public/playground_assets/rectangle1988349-5x4d.svg"
                  alt="Rectangle1988349"
                  class="login-rectangle198"
                />
                <img
                  src="public/playground_assets/rectangle2008349-j4md.svg"
                  alt="Rectangle2008349"
                  class="login-rectangle200"
                />
                <img
                  src="public/playground_assets/rectangle2018349-wend.svg"
                  alt="Rectangle2018349"
                  class="login-rectangle201"
                />
                <img
                  src="public/playground_assets/rectangle2028349-c2m.svg"
                  alt="Rectangle2028349"
                  class="login-rectangle202"
                />
                <img
                  src="public/playground_assets/rectangle2048349-bhba.svg"
                  alt="Rectangle2048349"
                  class="login-rectangle204"
                />
                <img
                  src="public/playground_assets/rectangle2058350-xi7c.svg"
                  alt="Rectangle2058350"
                  class="login-rectangle205"
                />
                <img
                  src="public/playground_assets/rectangle2078350-3l5.svg"
                  alt="Rectangle2078350"
                  class="login-rectangle207"
                />
                <img
                  src="public/playground_assets/rectangle2088350-s45.svg"
                  alt="Rectangle2088350"
                  class="login-rectangle208"
                />
                <img
                  src="public/playground_assets/rectangle2098350-8vlc.svg"
                  alt="Rectangle2098350"
                  class="login-rectangle209"
                />
                <img
                  src="public/playground_assets/rectangle2108350-nu1b.svg"
                  alt="Rectangle2108350"
                  class="login-rectangle210"
                />
                <img
                  src="public/playground_assets/rectangle2128350-7ge.svg"
                  alt="Rectangle2128350"
                  class="login-rectangle212"
                />
                <img
                  src="public/playground_assets/rectangle2138350-dl0n.svg"
                  alt="Rectangle2138350"
                  class="login-rectangle213"
                />
                <img
                  src="public/playground_assets/rectangle2148350-e7ui.svg"
                  alt="Rectangle2148350"
                  class="login-rectangle214"
                />
                <img
                  src="public/playground_assets/rectangle2158350-1a2b.svg"
                  alt="Rectangle2158350"
                  class="login-rectangle215"
                />
                <img
                  src="public/playground_assets/rectangle2178350-pbdc.svg"
                  alt="Rectangle2178350"
                  class="login-rectangle217"
                />
                <img
                  src="public/playground_assets/rectangle2188351-her.svg"
                  alt="Rectangle2188351"
                  class="login-rectangle218"
                />
                <img
                  src="public/playground_assets/rectangle2198351-h7tr.svg"
                  alt="Rectangle2198351"
                  class="login-rectangle219"
                />
                <img
                  src="public/playground_assets/rectangle2208351-0vrx.svg"
                  alt="Rectangle2208351"
                  class="login-rectangle220"
                />
                <img
                  src="public/playground_assets/rectangle2218351-k8o.svg"
                  alt="Rectangle2218351"
                  class="login-rectangle221"
                />
                <img
                  src="public/playground_assets/rectangle2228351-r4lu8.svg"
                  alt="Rectangle2228351"
                  class="login-rectangle222"
                />
                <img
                  src="public/playground_assets/rectangle2238351-2tss.svg"
                  alt="Rectangle2238351"
                  class="login-rectangle223"
                />
                <img
                  src="public/playground_assets/rectangle2338351-vnwe.svg"
                  alt="Rectangle2338351"
                  class="login-rectangle233"
                />
                <img
                  src="public/playground_assets/rectangle2348351-s4o.svg"
                  alt="Rectangle2348351"
                  class="login-rectangle234"
                />
                <img
                  src="public/playground_assets/rectangle2358351-m0iz.svg"
                  alt="Rectangle2358351"
                  class="login-rectangle235"
                />
                <img
                  src="public/playground_assets/rectangle2368351-vfay.svg"
                  alt="Rectangle2368351"
                  class="login-rectangle236"
                />
                <img
                  src="public/playground_assets/rectangle2378352-cqot.svg"
                  alt="Rectangle2378352"
                  class="login-rectangle237"
                />
                <img
                  src="public/playground_assets/rectangle2388352-y1q3.svg"
                  alt="Rectangle2388352"
                  class="login-rectangle238"
                />
                <img
                  src="public/playground_assets/rectangle2398352-o8tw.svg"
                  alt="Rectangle2398352"
                  class="login-rectangle239"
                />
                <img
                  src="public/playground_assets/rectangle2408352-ufn.svg"
                  alt="Rectangle2408352"
                  class="login-rectangle240"
                />
                <img
                  src="public/playground_assets/rectangle2248352-w2g.svg"
                  alt="Rectangle2248352"
                  class="login-rectangle224"
                />
                <img
                  src="public/playground_assets/rectangle2418352-riax.svg"
                  alt="Rectangle2418352"
                />
                <img
                  src="public/playground_assets/rectangle2428352-fre.svg"
                  alt="Rectangle2428352"
                  class="login-rectangle242"
                />
                <img
                  src="public/playground_assets/rectangle2448352-06zb.svg"
                  alt="Rectangle2448352"
                  class="login-rectangle244"
                />
                <img
                  src="public/playground_assets/rectangle2458352-0v7o.svg"
                  alt="Rectangle2458352"
                  class="login-rectangle245"
                />
                <img
                  src="public/playground_assets/rectangle2468352-dbm.svg"
                  alt="Rectangle2468352"
                  class="login-rectangle246"
                />
                <img
                  src="public/playground_assets/rectangle2438353-o4o.svg"
                  alt="Rectangle2438353"
                  class="login-rectangle243"
                />
                <img
                  src="public/playground_assets/rectangle2478353-h0bi.svg"
                  alt="Rectangle2478353"
                  class="login-rectangle247"
                />
                <img
                  src="public/playground_assets/rectangle2498353-qd5p.svg"
                  alt="Rectangle2498353"
                  class="login-rectangle249"
                />
                <img
                  src="public/playground_assets/rectangle2508353-7eld.svg"
                  alt="Rectangle2508353"
                  class="login-rectangle250"
                />
                <img
                  src="public/playground_assets/rectangle2518353-3igx.svg"
                  alt="Rectangle2518353"
                />
                <img
                  src="public/playground_assets/rectangle2488353-1519.svg"
                  alt="Rectangle2488353"
                  class="login-rectangle248"
                />
                <img
                  src="public/playground_assets/rectangle2258353-0n5.svg"
                  alt="Rectangle2258353"
                  class="login-rectangle225"
                />
                <img
                  src="public/playground_assets/rectangle2268353-1znh.svg"
                  alt="Rectangle2268353"
                  class="login-rectangle226"
                />
                <img
                  src="public/playground_assets/rectangle2278353-07y.svg"
                  alt="Rectangle2278353"
                  class="login-rectangle227"
                />
                <img
                  src="public/playground_assets/rectangle2288353-fkw9.svg"
                  alt="Rectangle2288353"
                  class="login-rectangle228"
                />
                <img
                  src="public/playground_assets/rectangle2298354-hvg7.svg"
                  alt="Rectangle2298354"
                  class="login-rectangle229"
                />
                <img
                  src="public/playground_assets/rectangle2308354-mpll.svg"
                  alt="Rectangle2308354"
                  class="login-rectangle230"
                />
                <img
                  src="public/playground_assets/rectangle2328354-06us.svg"
                  alt="Rectangle2328354"
                  class="login-rectangle232"
                />
                <img
                  src="public/playground_assets/rectangle2168354-d8wx.svg"
                  alt="Rectangle2168354"
                  class="login-rectangle216"
                />
                <img
                  src="public/playground_assets/rectangle2118354-jamk.svg"
                  alt="Rectangle2118354"
                  class="login-rectangle211"
                />
                <img
                  src="public/playground_assets/rectangle2068354-zav.svg"
                  alt="Rectangle2068354"
                  class="login-rectangle206"
                />
                <img
                  src="public/playground_assets/rectangle2038354-o9db.svg"
                  alt="Rectangle2038354"
                  class="login-rectangle203"
                />
                <img
                  src="public/playground_assets/rectangle1978354-we4s.svg"
                  alt="Rectangle1978354"
                  class="login-rectangle197"
                />
                <img
                  src="public/playground_assets/rectangle1968354-k2vc.svg"
                  alt="Rectangle1968354"
                  class="login-rectangle196"
                />
                <img
                  src="public/playground_assets/rectangle1918354-vxua.svg"
                  alt="Rectangle1918354"
                  class="login-rectangle191"
                />
              </div>
            </div>
            <span class="login-text12"><span>MineCloud</span></span>
          </div>
          <div class="login-group427320739">
            <img
              src="public/playground_assets/image5108318-klv-600h.png"
              alt="image5108318"
              class="login-image510"
            />
            <div class="login-group187">
              <div class="login-group">
                <img
                  src="public/playground_assets/vector8318-qnp.svg"
                  alt="Vector8318"
                  class="login-vector"
                />
              </div>
            </div>
            <img
              src="public/playground_assets/rectangle488319-54ut-800h.png"
              alt="Rectangle488319"
              class="login-rectangle48"
            />
            <span class="login-text14"><span>or</span></span>
            <div class="login-group169">
              <img
                src="public/playground_assets/rectangle248319-73s.svg"
                alt="Rectangle248319"
                class="login-rectangle24"
              />
              <img
                src="public/playground_assets/rectangle258319-3rv2.svg"
                alt="Rectangle258319"
                class="login-rectangle25"
              />
              <div class="login-group1">
                <div class="login-group2">
                  <img
                    src="public/playground_assets/vector8319-ufld.svg"
                    alt="Vector8319"
                    class="login-vector1"
                  />
                </div>
              </div>
              <span class="login-text16"><span>Your email</span></span>
            </div>
            <div class="login-group170">
              <img
                src="public/playground_assets/rectangle248320-m8sy.svg"
                alt="Rectangle248320"
                class="login-rectangle241"
              />
              <img
                src="public/playground_assets/rectangle258320-v0f.svg"
                alt="Rectangle258320"
                class="login-rectangle251"
              />
              <span class="login-text18"><span>Password</span></span>
            </div>
            <div class="login-group104">
              <img
                src="public/playground_assets/rectangle218320-2xae.svg"
                alt="Rectangle218320"
                class="login-rectangle21"
              />
            </div>
            <span class="login-text20"><span>Log in</span></span>
            <span class="login-text22"><span>Forgot password?</span></span>
            <div class="login-group3">
              <img
                src="public/playground_assets/vector8320-7nc.svg"
                alt="Vector8320"
                class="login-vector2"
              />
              <img
                src="public/playground_assets/vector8321-hxko.svg"
                alt="Vector8321"
                class="login-vector3"
              />
              <img
                src="public/playground_assets/vector8321-80xh.svg"
                alt="Vector8321"
                class="login-vector4"
              />
            </div>
            <img
              src="public/playground_assets/line488321-lbrn.svg"
              alt="Line488321"
              class="login-line48"
            />
            <img
              src="public/playground_assets/line498321-xe64.svg"
              alt="Line498321"
              class="login-line49"
            />
            <div class="login-group427320705">
              <div class="login-group427320704">
                <img
                  src="public/playground_assets/rectangle258321-dair.svg"
                  alt="Rectangle258321"
                  class="login-rectangle252"
                />
                <span class="login-text24"><span>Google</span></span>
                <div class="login-group427320702">
                  <img
                    src="public/playground_assets/vector8321-uhb.svg"
                    alt="Vector8321"
                    class="login-vector5"
                  />
                  <img
                    src="public/playground_assets/vector8322-7wrm.svg"
                    alt="Vector8322"
                    class="login-vector6"
                  />
                  <img
                    src="public/playground_assets/vector8322-7ppd.svg"
                    alt="Vector8322"
                    class="login-vector7"
                  />
                  <img
                    src="public/playground_assets/vector8322-jupa.svg"
                    alt="Vector8322"
                    class="login-vector8"
                  />
                </div>
              </div>
              <div class="login-group427320703">
                <img
                  src="public/playground_assets/rectangle258322-ovfg.svg"
                  alt="Rectangle258322"
                  class="login-rectangle253"
                />
                <span class="login-text26"><span>Facebook</span></span>
                <div class="login-xmlid17">
                  <img
                    src="public/playground_assets/xmlid228322-2igs.svg"
                    alt="XMLID228322"
                    class="login-xmlid22"
                  />
                  <img
                    src="public/playground_assets/xmlid188322-693r.svg"
                    alt="XMLID188322"
                    class="login-xmlid18"
                  />
                </div>
              </div>
            </div>
            <img
              src="public/playground_assets/image5088322-0vlq-300h.png"
              alt="image5088322"
              class="login-image508"
            />
            <img
              src="public/playground_assets/image5098323-hpoh-300h.png"
              alt="image5098323"
              class="login-image509"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
