{% extends 'base/base.html' %}
{% load static %}

{% block extra_css%}
<link href='{% static "css/registration.css" %}' rel="stylesheet">
{% endblock %}


{% block content%}
<div class="flex-container">
<div>
    <img class="bee" height="200" width="auto" src='{% static "img/auth/bee.png" %}'>
</div>
<div class="content">
    <div class="form">
        <form action="" method="post">
            <h3 class="poppins">Registration</h3>
            <div class="form-item">
                <img class="icon" src='{% static "img/auth/user_icon.svg" %}' >
                <input type="text" placeholder="Name">
            </div><br>
            <div class="form-item">
                <img class="icon" src='{% static "img/auth/user_icon.svg" %}' >
                <input type="text" placeholder="Surname">
            </div><br>
            <div class="form-item">
                <img class="icon" src='{% static "img/auth/user_icon.svg" %}' >
                <input type="text" placeholder="Login">
            </div><br>
            <div class="form-item">
                <img class="icon" src='{% static "img/auth/email.svg" %}' >
                <input type="email" placeholder="Email">
            </div><br>
            <div class="form-item">
                <img class="icon" src='{% static "img/auth/key.svg" %}' >
                <input type="password" placeholder="Password">
            </div><br>
            <div class="form-item">
                <img class="icon" src='{% static "img/auth/key.svg" %}' >
                <input type="password" placeholder="Repeat password">
            </div><br>
            <input type="submit" value="Registration"><br>
        </form>
    </div>
    </div>
</div>
{% endblock %}