{% extends 'base/base.html' %}
{%load static%}
{% block extra_css %}
    <link rel="stylesheet" href='{%static "css/servers.css"%}'>
{% endblock %}

{% block content %}
<h1 class="lilita-one">Your servers</h1>

    <div class="create_button">
        <a href="#">
        <img src='{% static "img/servers/create.svg" %}'>
        <p>Create</p>
        </a>
    </div>

<div class="content poppins">
    <div class="column">
        <div class="row">
            <div class="row-item">
                <h2>Server name</h2>
                <p class="plan_text">Plan: free</p>
                <div class="flex-container">
                <a href="#">
                    <div class="button">
                        <img src='{%static "img/servers/control_panel.svg"%}'>
                        <p>Control panel</p>
                    </div>
                </a>
                </div>
            </div>
            <div class="row-item">
                <h2>Server name</h2>
                <p class="plan_text">Plan: free</p>
                <div class="flex-container">
                <a href="#">
                    <div class="button">
                        <img src='{%static "img/servers/control_panel.svg"%}'>
                        <p>Control panel</p>
                    </div>
                </a>
                </div>
            </div>
            <div class="row-item">
                <h2>Server name</h2>
                <p class="plan_text">Plan: free</p>
                <div class="flex-container">
                <a href="#">
                    <div class="button">
                        <img src='{%static "img/servers/control_panel.svg"%}'>
                        <p>Control panel</p>
                    </div>
                </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

