{% extends 'base/base.html' %}

{% block extra_css %}
    <link rel="stylesheet" href="/static/css/servers.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lilita One' rel='stylesheet'>
{% endblock %}

{% block content%}
        <div class="wrapper" style="margin-top:100px;">
            <h1 class="poppins">Servers</h1>
            <button type="button" class="create-btn"><img src="/static/img/servers/create.svg" width="20" height="19"><span class="poppins text-white">Create</span></button>
            <div class="servers">
                {% for server in servers%}
                {% if forloop.counter|add:"2"|divisibleby:3%}
                <div class="row-servers">
                {% endif %}
                    <div class="server">
                        <div style="margin:0 auto; text-align:center;">
                            <h2 class="text-white poppins">{{server.name}}</h2>
                            <p class="poppins" style="color:#A4A4A4; font-size:15px; margin-bottom:5px;">plan: free</p>
                            <button type="button" class="terminal-btn"><img src="/static/img/servers/terminal.svg" width="20" height="20"><span class="poppins text-white">Control panel</span> </button>
                        </div>
                    </div>
                {% if forloop.counter|divisibleby:3 or forloop.last %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
{% endblock %}