{% extends 'base/base.html' %}
{% load static %}

{% block extra_css%}
<link rel="stylesheet" href='../../../static/css/landing.css'>
{% endblock %}

{% block content%}
<body>
    <div class="background">
        <div class="starter">
            <h1 class="poppins" style="text-align: center; opacity: 0.9;">Ищешь топовы майнкрафт хостинг?</h1>
            <h3 class="poppins" style="text-align: center; opacity: 0.9;">Тогда ты по адресу!</h3>
            <h3 class="poppins" style="text-align: center; opacity: 0.9;">Топовый хостинг только у нас!</h3>
            <button class="play">Play</button>
        </div>
        <div class="info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo consectetur eveniet sint nulla esse ad sapiente quo praesentium, error dolor, sit quis iure amet. Aut sint aliquid perspiciatis! Molestias, excepturi!
            Eos corporis consequatur assumenda natus. Totam, dolor alias, tempore dolorum accusantium in, tempora expedita veritatis perspiciatis impedit id sunt natus fugit perferendis! Laudantium impedit non est pariatur sunt corrupti molestiae!
            Qui laborum soluta deserunt fugit, iure expedita facere consectetur reiciendis reprehenderit, vitae pariatur ipsum ad molestias ex, dignissimos maiores excepturi minima? Perferendis fugiat ad autem debitis ab enim assumenda minima.
            Doloribus voluptates ipsum ipsam. Doloremque rem quos nihil suscipit natus mollitia molestiae consectetur consequatur iusto! Dicta nostrum, animi voluptatem necessitatibus magni aspernatur! Pariatur saepe adipisci minus itaque nemo ut rerum!
            Perferendis corrupti architecto, mollitia explicabo aliquid dolores. Voluptates ullam obcaecati animi minima similique reprehenderit cumque possimus voluptatum? Repellat iste impedit consectetur dicta aperiam soluta. A esse quod doloremque! Expedita, placeat.
            Est, quia. Debitis laborum reiciendis corrupti quidem quisquam. Voluptas temporibus inventore fuga corrupti accusantium culpa corporis qui esse nobis consectetur non laborum sequi et ipsam commodi, cum dolore itaque iure!
            Error a, voluptatem, voluptas voluptatum aliquid minima rerum numquam libero ea, iusto atque! Fugit ipsam saepe expedita sint, culpa cupiditate enim delectus doloremque et, ratione, qui aliquid. Laboriosam, explicabo praesentium?
            At placeat beatae modi labore hic, exercitationem culpa in. In suscipit porro maiores, laboriosam, similique iste libero accusantium ut nobis ipsam minus corrupti accusamus alias aspernatur dolorum doloribus magni esse.
            Reprehenderit quos sapiente tempore debitis ipsam animi nisi, iusto optio, accusantium, distinctio alias possimus laborum maiores ipsa veniam laudantium expedita. Voluptas eveniet doloribus ut exercitationem magnam neque laboriosam sunt veritatis.
            Voluptatum voluptas quas quibusdam error nesciunt officiis consequuntur exercitationem iusto omnis fuga ipsam, tenetur id molestias sequi repellendus blanditiis saepe quasi eius delectus maxime dolorem consequatur magnam? Quis, architecto praesentium?
        </div>
        <div class="slider" style="height: auto; margin: 10px;">
            <div class="block" >
                вставьте наполнение по желанию
            </div>
            <div class="block" >
                вставьте наполнение по желанию
            </div>
            <div class="block" >
                вставьте наполнение по желанию
            </div>
        </div>
    </div>
</body>
{% endblock %}