@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic&display=swap');
body{
 background-color: skyblue;
 position: inherit;
}
h1{
 font-family: 'Poppins';

}
.registration{
 height: 650px;
 background-color: white;
 width: 35%;
 margin: auto;
 text-align: center;
 border-radius: 60px;
 padding-top: 30px;
}
input{
 margin-top: 20px;
 padding: 10px;
 padding-right: 100px;
 border-radius: 7px;
 border: 0px;
 text-align: left;
 font-weight: 300;
 color: #403A4B;
 font-family: 'GFS Neohellenic', sans-serif;
 background-color: #9FD5FF36;
}
.button{
 font-family: 'GFS Neohellenic', sans-serif;
 color: white;
 text-decoration: none;
 font-size: 20px;

}
.divbutton{
 height: 51px;
 width: 273px;
 background-color: #008fff;
 border-radius: 10px;
 text-align: center;
 width: 50%;
 margin: auto;
}
.google{
 font-family: 'GFS Neohellenic', sans-serif;
 color: black;
 text-decoration: none;
 font-size: 20px;
}
.divgoogle{
 height: 51px;
 width: 273px;
 background-color: white;
 border: 3px solid #008fff;
 border-radius: 10px;
 text-align: center;
 width: 50%;
 margin: auto;
}
.divbutton:hover{
 filter: brightness(75%);
}
.divbutton:active{
 filter: brightness(55%);
}
.divgoogle:hover{
 filter: brightness(85%);
}
.divgoogle:active{
 filter: brightness(75%);
}
.image{
 height: 100px;
 width: 150px;
 margin: auto;

}
.image2{
 margin-left: -95%;
 margin-top: -160px;
}
