.bottom-panel {
    width: 100%;
    height: 50px;
    background-color: #2D3943;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom-panel button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #9FD5FF;
    border: none;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
}

.console-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px);
    background-color: #506a80;
}

.console-text {
    padding: 30px;
    color: #fff;
    overflow-x: hidden; 
    overflow-y: scroll;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    max-height: 90%;
    height: 90%;
    width: 100%;
    max-width: 100%;
    font-weight: normal;
}
.console-text > p{
    margin-top: 2px;
}
.console-img > img {
    height: 150px;
    display: block;
    opacity: 0.5;
}
