body{
    overflow-x: hidden;
}

.background{
    background-image: url(../img/pxfuel.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.starter{
    background-image: url(../img/171177.jpg);
    width: 100%; 
    object-fit: cover;
    height: 400px;

    color: aliceblue;
    text-align: center;
}

.button{
    border-radius: 50px;
    border: none;
    background-color: black;
    opacity: 0.8;
}

.right{
    position: relative;
    right: 0%;
}

.left{
    position: relative;
    left: 0%;
}

.slider{
    display: block; 
    padding: 10px 5px;
    width:100%;
    background-color: rgb(214, 252, 252);
    opacity: 0.4;
}

.block{
    display: inline-block;
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(41, 124, 194, 1);
    text-align: center;
    border-radius: 10px;
    transition: 1.5s;
    padding: 10px;
    margin: 10px auto;
    margin-right: 4%;
    margin-left: 4%;
}

.play {
    width: 180px;
    height: 75px;
    background: #297CC2;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    font-size: 30px;
    transition: all 0.5s;
}

.info{
    height: auto;
    width: 100%;
    color: rgb(0, 0, 0);
    background-color: rgb(214, 252, 252);
    opacity: 0.4;
    margin: 10px;
}