{% load static %}
{% load bootstrap5 %}

<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}" />

<header>
    <div class="header">
        <div class="general_elem_group">
            <div>
                <a href="/"><img class="logo" src="{% static 'img/minecloud.png' %}"></a>
            </div>
            <div class="filler"></div>
            <div>
                <button>About us</button>
                <button>Plans</button>
                <button>Features</button>
                <button>Create server</button>
            </div>
            <div class="filler"></div>
            <div>
                <button style="padding-right: 10px;">SIGN UP</button>
                <button style="padding-left: 10px;">LOG IN</button>
            </div>
        </div>
    </div>
    </div>
</header>
