{% load static %}
{% load bootstrap5 %}
<header>
<div class="header">
    <a href="/"><img class="logo" src="наш лого.png"></a>
    <div class="header-left">
        <a href="#contact">Create server</a>
        <a href="#contact">Top server</a>
        <a href="#about">About us</a>
        <head>
            <meta charset="utf-8">
            <title>Category</title>
        </head>
        <body>
            <form>
            <p><select name="select" size="3" multiple>
                <option selected value="s1">Category_name1</option>
                <option value="s2">Category_name2</option>
                <option value="s3">Category_name3/option>
            </select>
            <input type="submit" value="Отправить"></p>
                </form>
        </body>
        <div class="d1">
            <form>
                <input type="text" placeholder="Искать здесь...">
                <button type="submit"></button>
            </form>
        </div>
        <a href="/"><img class="logo" src="тележка.png"></a>
        <p><input value= user_wallet></p>
        <a href="#contact">Sign in</a>
        <a href="#about">Log in</a>
    </div>

</div>
</header>
