{% load static %}
{% load bootstrap5 %}
<header>
    <a href="/"><img class="logo" src="{% static 'img/logo.png' %}"></a>
    <nav>
        <a href="{% url 'Профиль' %}">Профиль</a>
        {% if request.user.is_authenticated %}
        <a href="">
            <div class="ваш класс">
                Авторизрирован
            </div>
        </a>
        {% else %}
        <a href="">
            <div class="ваш класс">
                Не авторизрирован
            </div>
        </a>
        {% endif %}
    </nav>
</header>
